﻿@{
    ViewBag.Title = "TAL Cover Amount Calculator";
}

<div class="container" style="margin-top: 50px;" ng-app="coverCalcApp">
    <div class="panel panel-primary centered" ng-controller="CalcCtrl" ng-cloak>
        <div class="panel-heading">
            <h3 class="panel-title">Cover Amount Calculator</h3>
        </div>
        <div class="panel-body">
            <form ng-hide="state" name="form" novalidate>
                <div class="bs-callout bs-callout-info">
                    <h3>Please answer the following questions</h3>
                </div>
                <div class="bs-callout bs-callout-info">
                    <h4>Do you pay rent or have a mortgage?</h4>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsGrp1" value="mortgage" ng-model="mortgageOrRent">Mortgage
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsGrp1" value="rent" ng-model="mortgageOrRent">Rent
                        </label>
                    </div>
                    <div ng-show="mortgageOrRent" class="input-group col-xs-4">
                        <span class="input-group-addon">$</span>
                        <input ng-if="mortgageOrRent === 'mortgage'" type="text" class="form-control" ng-model="personal.mortgage" ng-pattern="/^[0-9]{1,7}(\.[0-9]+)?$/" required>
                        <input ng-if="mortgageOrRent === 'rent'" type="text" class="form-control" ng-model="personal.rent" ng-pattern="/^[0-9]{1,7}(\.[0-9]+)?$/" required>
                    </div>
                </div>

                <div class="bs-callout bs-callout-info">
                    <h4>Do you have children?</h4>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsGrp2" value="yes" ng-model="children">Yes
                        </label>
                    </div>
                    <div ng-if="children === 'yes'" class="input-group col-xs-4">
                        <input type="text" class="form-control" ng-model="personal.children" ng-pattern="/^[0-9]{1,7}$/" required>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsGrp2" value="no" ng-model="children">No
                        </label>
                    </div>
                </div>

                <div class="bs-callout bs-callout-info">
                    <h4>Do you have outstanding debt?</h4>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsGrp3" value="yes" ng-model="debt">Yes
                        </label>
                    </div>
                    <div ng-if="debt === 'yes'" class="input-group col-xs-4">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" ng-model="personal.debt" ng-pattern="/^[0-9]{1,7}(\.[0-9]+)?$/" required>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsGrp3" value="no" ng-model="debt">No
                        </label>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="calc(personal);">Calculate</button>
            </form>
            <div ng-show="state">
                <p ng-if="result.status">
                    For the following details the cover amount is <b>{{result.coverAmount| currency}}</b>
                </p>
                <p ng-hide="result.status">
                  {{result.reason}}  
                </p>

                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Mortgage</th>
                            <th>Rent</th>
                            <th>Children</th>
                            <th>Debt</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="warning">
                            <td>{{personal.mortgage}}</td>
                            <td>{{personal.rent}}</td>
                            <td>{{personal.children}}</td>
                            <td>{{personal.debt}}</td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" ng-click="repeat()">Repeat</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/coverAmountCalculator")
}